%base-title {
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.2;
}

%base-text {
  font-weight: 300;
  line-height: 1.4;
  opacity: 0.8;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0;
}
