$font-size-main: 18px;
$font-family-lato: "Lato", sans-serif;
$font-family-playfair: "Playfair Display", sans-serif;

$font-color-main: #262a3f;
$font-color-additional: #ffffff;

$width-container: 1170px;
