
$raleway-font-family: "Raleway", sans-serif;
$roboto-font-family: "Roboto", sans-serif;
$opensans-font-family: "Open Sans", sans-serif;
$font-size: 24px;

$main-color: #666;
$gold-color: #fc0;


$container-width: 1170px;